
.list-group a {
    margin-top: 1rem;
    color: white;
    padding: 1px;
    text-decoration: none;
}

.list-group a:not(:last-of-type) li {
    border-bottom: none !important;
}

.list-group a:hover {
    text-decoration: none;
    border-left-style: solid;
    border-left-width: 3px;
}

.list-group a:hover li {
    margin-left: 2px;
}

.list-group .list-inline {
    background-color: transparent;
    padding: 5px;
    text-transform: capitalize;
}

.list-group .list-inline:hover {
    cursor: pointer;
}
