.result-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3.result-text {
    font-size: smaller;
}


.title {
    font-size: 15px;
    display: flexbox;
    flex-direction: column;
}